* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* ===============header style start hear===============  */

@media screen and (max-width: 576px) {
  header {
    margin: 4rem;
  }
  nav {
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    height: 15rem;
    padding-top: 3rem;
  }
  .menu {
    flex-direction: column;
  }
  .menu .ull li {
    display: block;
    margin: 24px 0px;
  }
  .header-info {
    padding-top: 10rem;
    margin-top: 6rem;
    width: 100%;
    text-align: center;
  }
  .infos {
    margin: auto;
  }
  .head-img img {
    width: 100%;
    margin-top: 2rem;
  }

  .header-body {
    flex-direction: column-reverse;
  }

  .section-1 {
    flex-direction: column;
    padding: 0;
    margin: 1rem;
    height: 54rem;
  }
  .bodypic-1 img {
    width: 100%;
    margin-top: 42rem;
  }

  .section1-info h1 {
    width: 100%;
    margin-top: 60px;
    text-align: center;
  }
  .section-btn-1 {
    margin-right: 11rem;
    margin-bottom: 3rem;
  }
  .section1-info p,
  h2 {
    text-align: center;
  }
  .section1-info h3 {
    text-align: center;
  }
  .section-2 {
    padding: 0;
    margin: 42rem 3rem 3rem 3rem;
  }
  .box-img {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-left: 5rem;
  }
  .box-img div h4 {
    width: 90%;
  }
  .section-3 {
    flex-direction: column;
    margin: 4rem;
  }
  .div-1,
  .h2-1 {
    margin-top: 2rem;
    text-align: center;
  }
  .div-1 p {
    width: 100%;
    margin: 3rem 0;
    text-align: center;
  }
  .cowboy {
    width: 100%;
  }
  .cat {
    width: 28%;
    bottom: -401%;
    left: 1.438rem;
  }
  .section-4 {
    margin: 4rem;
    flex-direction: column-reverse;
  }
  .cat-2 {
    bottom: -480%;
    right: 1.438rem;
    width: 28%;
  }
  .section-5 {
    flex-direction: column;
    width: 100%; 
    padding: 1rem;

  }
  .div-3{
    margin: 0;
  }
  .div-3 > p{
    width: 100%;
  }
  .section-5 .img{
    width: 156%;
  }
  .section-5 .img img{
    width: 61%;
    margin-top: 7rem;
  }
  .section-6{
    padding: 0;
    margin: 4rem;
  }
  .sec-6{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .f-logo{
    padding: 139px 9rem 4rem 9rem;
  }
  footer ul{
    padding: 0 4rem;
  }
  footer ul li{

  }
  footer .ulli{
    padding: 0rem 5.5rem;
  }
  footer ol {
    padding:3rem 1.5rem;
  }



}

/* tablet responsive */
@media screen and (min-width: 576px) and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
