* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.hied{
  display: none;
}
/* ===============header style start hear===============  */
header {
  width: auto;
  height: 47.5rem;
}
nav {
  width: auto;
  height: 4.875rem;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 1.25rem;
  display: flex;
  justify-content: space-around;
}
.logo {
  display: flex;
}
.logo h1 {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.logo h1 span {
  color: #ff42a5;
}
div .ul li {
  list-style: none;
  display: inline;
  margin-right: 2rem;
}
.menu {
  display: flex;
  align-items: center;
}
.flow .ul {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  width: 278px;
  padding: 10px;
}
.menu .ul li {
  color: #3c354f;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.youtube {
  color: #f61c0d;
}
#tiktok {
  color: black;
}
/*=================== header section style start ==================== */

.header-body {
  display: flex;
}

.header-info {
  background-image: url(./images/Group\ 14.png);
  background-repeat: no-repeat;
  width: 56.313rem;
  height: 42.6rem;
}

.infos {
  margin: 15.5rem 3px 0px 19.813rem;
}
.infos h2 {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.h1 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
.ul-info li {
  color: #534c64;
  margin: 1.25rem 0px;
  font-family: Work Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
  list-style: none;
}
.fa-circle-play {
  color: #ff42a5;
  margin-right: 8px;
}
.fa-download {
  color: #ff42a5;
  margin-right: 8px;
}
.fa-user-group {
  color: #0b0223;
  margin-right: 8px;
}
.sign {
  border: none;
  color: #fff;
  font-family: Work Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  display: inline-flex;
  padding: 1.313rem 2.5rem;
  align-items: flex-start;
  gap: 10px;
  border-radius: 3rem;
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
}
.go {
  border: none;
  display: inline-flex;
  padding: 1.313rem 2.5rem;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: #4ec5f7;
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

/* =================main styleing staet on hear=============  */
/* section 1 style */
.section-1 {
  width: auto;
  height: 37.5rem;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 13.13%,
    rgba(255, 66, 165, 0.03) 87.94%
  );
  display: flex;
  padding: 5.938rem 15rem;
}
.section1-info {
  text-align: end;
}
.section1-info h1 {
  text-align: right;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section1-info p {
  margin: 24px 0px;
  width: 520px;
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.section1-info h3 {
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px; /* 187.5% */
  margin-top: 10px;
}
.section1-info h2 {
  color: #534c64;
  font-family: Work Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}

/* section 2 style */

.section-2 {
  padding: 7.5rem 15rem;
}
.section-2 h1 {
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section-2 h1 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section-2 p {
  margin-bottom: 3rem;
  color: #534c64;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.box-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.box-img div h4 {
  color: #534c64;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}

.img3 h4 {
  width: 244px;
}
/* Container for the image and overlay */
.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

/* Style for the overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid #f948b2;
  border-radius: 20px;
}

/* Style for the Font Awesome icon */
.icon {
  font-size: 24px;
  color: #fff;
  margin-bottom: 10px;
}

/* Style for the text */
.text {
  color: #fff;
  font-size: 16px;
  margin: 0;
}

/* Hover effect */
.image-container:hover .overlay {
  opacity: 1; /* Show the overlay on hover */
}

/* section 3 and 4 style */

.section-3 {
  display: flex;
  justify-content: space-around;
  margin: 0rem 15rem;
}
.div-1 {
  margin-top: 14rem;
  text-align: right;
}
.h2-1 {
  text-align: right;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 125% */
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.h2-1 {
  text-align: right;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 125% */
}
.div-1 p {
  width: 363px;
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.cowboy {
  position: relative;
}
.cat {
  position: absolute;
  bottom: -203%;
  left: 49.438rem;
  z-index: 1;
}
.section-4 {
  display: flex;
  justify-content: space-around;
  margin: 10rem 15rem;
}

.cat-2 {
  position: absolute;
  bottom: -291%;
  right: 49.438rem;
  z-index: 1;
}

/* section 5 style */

.section-5 {
  display: flex;

  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
}
.div-3 {
  margin: 7.5rem 0 15rem 15rem;
}

.div-3 h1 {
  color: #fff;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 125% */
  width: 426px;
}
.div-3 > p {
  color: #fff;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: 30px; /* 166.667% */
  width: 680px;
  margin: 24px 0 32px 0;
}
.li {
  list-style: none;
}
.li p {
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 200% */
}
.list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
ul li p {
  text-align: right;
}

.img {
  background-image: url(./images/Group\ 15.png);
  background-repeat: no-repeat;
  width: 56.313rem;
  height: 42.6rem;
}

.btn-main {
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: var(--Linear, linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%));
  border: none;
  border-radius: 48px;
  background: #fff;
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
}

/* section 6 style */

.section-6 {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 13.13%,
    rgba(255, 66, 165, 0.03) 87.94%
  );
  padding: 7.5rem 15rem;
}
.sec-6 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}
.sec-6 div {
  display: flex;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 5px;
}
.sec-6 div p {
  padding: 22px 4px;
}
.sec-6 div:hover{
  border: 2px solid #ff42a5;
  color: #ff42a5;
}

/* --------------footer style start---------- */

footer {
  background: #0b0223;
  width: auto;
  height: 636px;
}
.f-logo {
  display: flex;
  padding: 7.875rem 52.063rem;
}
.f-logo h1 {
  margin-left: 20px;
  color: #fff;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.f-logo span {
  text-align: center;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer ul{
  padding: 0 33.563rem;
}
footer ul li {
  list-style: none;
  display: inline;
  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.lif{
  margin-right: 60px;
}

footer ol{
  padding: 55px 41.563rem;
}
footer ol li{
  list-style: none;
  display: inline;
  color: #fff;
}

footer ol li i {
  font-size: 30px;
}
.fa-twitter{
  color: #00aace ;
}
.fa-facebook{
  background-color: #17A9FD;
  border-radius: 30px;
}
.fa-linkedin{
  color: #0a66c2;
 
}
footer .ulli{
  padding: 0 37.563rem;
}
.uli , h6{
  color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-right: 40px;
}
h6{
  margin-top: 25px;
}







/* ===============header style start hear=============== */

@media screen and (max-width: 576px) { 
  nav {
    flex-direction: column;
    width: 100%;
    height: 10.938rem;
    box-shadow: none;
  }
  .logo{
    margin: 155px auto 0 auto;
  }
  .menu {
    flex-direction: column;
  }
  .menu .ull li {
    display: block;
    margin: 32px;
  }
  .header-body {
    width: 100%;
    flex-direction: column-reverse;
    padding: 5%;

  }
  .header-info {
    width: 100%;
    padding-top: 30%;
  }
  
  .head-img img {
    width: 100%;
    margin-top: 33%;
  }
  .infos {
    margin: 0;
    text-align: center;
  }
  .section-1 {
    padding: 0;
    flex-direction: column;
    width: 100%;
    height: auto;
  
  }
  main{
    margin-top: 145%;
  }
  .bodypic-1 img {
      width: 100%;
      margin-top: 0%;
  }

  .section1-info h1 {
    width: 100%;
    margin-top: 60px;
    text-align: center;
  }
  .section-btn-1 {
    margin-right: 11rem;
    margin-bottom: 3rem;
  }
  .section1-info p,
  h2 {
    text-align: center;
  }
  .section1-info h3 {
    text-align: center;
  }
   
  .section-2 {
    padding: 0;
    margin: 3rem 3rem 3rem 3rem;
  }
  .box-img {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-left: 5rem;
  }
  .box-img div h4 {
    width: 90%;
  }
  
  .section-3 {
    flex-direction: column;
    margin: 4rem;
  }
  .div-1,
  .h2-1 {
    margin-top: 2rem;
    text-align: center;
  }
  .div-1 p {
    width: 100%;
    margin: 3rem 0;
    text-align: center;
  }
  .cowboy {
    width: 100%;
  }
  .cat {
    width: 28%;
    bottom: -401%;
    left: 1.438rem;
  }
 
  .section-4 {
    margin: 4rem;
    flex-direction: column-reverse;
  }
  .cat-2 {
    bottom: -480%;
    right: 1.438rem;
    width: 28%;
  }
  .section-5 {
    flex-direction: column;
    width: 100%; 
    padding: 1rem;

  }
  .div-3{
    margin: 0;
  }
  .div-3 > p{
    width: 100%;
  }
  .section-5 .img{
    width: 100%;
  }
  .section-5 .img img{
    width: 100%;
    margin-top: 7rem;
  }
  .section-6{
    padding: 0;
    margin: 4rem;
  }
  .sec-6{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .f-logo{
    padding: 139px 9rem 4rem 9rem;
  }
  footer ul{
    padding: 0 4rem;
  }
 
  footer .ulli{
    padding: 0rem 5.5rem;
  }
  footer ol {
    padding:3rem 1.5rem;
  } 
}